@use '/node_modules/bootstrap/scss/bootstrap.scss';
@use './header.scss';
@use './main.scss';
@use './footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}